<footer class="page-footer green lighten-2">
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright
    <a class="grey-text text-lighten-4 right"></a>
    </div>
  </div>
</footer>